<div class="login-container">
  <h2>Zaloguj się</h2>
  <form #f="ngForm" (ngSubmit)="login(f)">
    <div>
      <input type="text" name="email" ngModel />
      <label for="email">email</label>
    </div>
    <div>
      <input type="password" name="password" ngModel />
      <label for="password">hasło</label>
    </div>
    <button type="submit" (click)="login(f)">Login</button>
  </form>
  <div class="register-now">
    <p>Nie posiadasz jeszcze konta?</p>
    <b><a href="/register">Zarejestruj się!</a></b>
  </div>
</div>

<span *ngIf="user">You have succesfully logged in!</span>

<span class="register-info" *ngIf="userErr">Incorrect Credentials!</span>
