<div class="login-container">
  <h2>Zaloguj się</h2>
  <form #f="ngForm" (ngSubmit)="login(f)">
    <div>
      <input type="text" name="email" ngModel />
      <label for="email">email</label>
    </div>
    <div>
      <input type="password" name="password" ngModel />
      <label for="password">hasło</label>
    </div>
    <button type="submit" (click)="login(f)">Login</button>
  </form>
</div>

<span *ngIf="user">You have succesfully logged in!</span>
<button (click)="logUser()">logUser</button>
