<hr />
<div class="footer-container">
  <div class="contact">
    <p>phone: +48 508 779 574</p>
    <p>email: daniel.dabrowski.177@gmail.com</p>
  </div>
  <div class="info">
    <p>Zapraszamy:</p>
    <p>pn - pt: 9.00 - 21.00</p>
    <p>sb- nd: 11.00 - 23.00</p>
    <p>Kraków, ul. Woźna 2</p>
  </div>
  <div class="icon-container">
    <a href="#">
      <img src="../../../assets/images/media/fb-icon.svg" alt="" />
    </a>
    <a href="#">
      <img src="../../../assets/images/media/github-icon.svg" alt="" />
    </a>
    <a href="#">
      <img src="../../../assets/images/media/linkedin-icon.svg" alt="" />
    </a>
    <a href="#">
      <img src="../../../assets/images/media/netlify-icon.svg" alt="" />
    </a>
  </div>
</div>
<p class="copyrights">@2023. Powyższa strona została wykonana przez .Caster</p>
