<nav>
  <hr />
  <div class="container">
    <div class="logo">Mr. Pancake</div>
    <div class="burger">
      <img src="../../../assets/images/icons/burger-icon.svg" alt="" />
    </div>
    <ul>
      <li>Home</li>
      <li>Zamów</li>
      <li>Menu</li>
      <li>O Nas</li>
      <li>Kontakt</li>
    </ul>
    <div class="icons">
      <div class="profile-icon">
        <img src="../../../assets/icons/profile-icon.png" alt="" />
      </div>
      <div class="cart-icon">
        <img src="../../../assets/icons/cart-icon.png" alt="" />
      </div>
    </div>
  </div>
  <hr />
</nav>
