<nav>
  <hr />
  <div class="container">
    <a href="/">
      <div class="logo">Mr. Pancake</div>
    </a>
    <!-- ToFix: navbar display should be switching dynamicly by manipulating width of a window -->
    <div class="wrapper" *ngIf="this.menuToggle || windowWidth > 768">
      <ul>
        <a href="/">
          <li>Home</li>
        </a>
        <a href="/products">
          <li>Zamów</li>
        </a>
        <a href="/menu">
          <li>Menu</li>
        </a>
        <a href="/about">
          <li>O Nas</li>
        </a>
        <a href="/contact">
          <li>Kontakt</li>
        </a>
      </ul>
      <p>{{ imageSrc.menu }}</p>
      <div class="icons">
        <div class="greetings">
          <b (click)="logout()">{{ user ? user.email : "Log in" }}</b>
        </div>
        <div class="cart-icon">
          <img src="../../../assets/images/icons/cart-icon.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="burger" (click)="onMenuToggle()">
      <img
        src="{{ this.menuToggle ? imageSrc.menuClose : imageSrc.menuOpen }}"
        alt=""
      />
    </div>
  </div>
  <hr />
</nav>
