<main>
  <div class="hero-image">
    <img src="../../../assets/images/background/about.png" alt="" />
  </div>
  <hr class="hr-title" />
  <h1 class="hero-title">Mr. Pancake</h1>
  <hr class="hr-title" />
  <section class="about-us">
    <h2>O nas</h2>
    <p>
      Witaj w restauracji Mr. Pancake - wyjątkowym miejscu w samym sercu
      Krakowa, gdzie pasja do pysznych naleśników łączy się z 40-letnim
      doświadczeniem. Od lat specjalizujemy się w przygotowywaniu niezwykle
      smacznych i kreatywnych naleśników, które podbijają serca naszych klientów
      swoim wyjątkowym smakiem i niepowtarzalnym stylem.
    </p>
  </section>
  <section class="about-history">
    <h2>Nasza Historia</h2>
    <p>
      Nasza restauracja ma długą historię, sięgającą 40 lat wstecz, gdy
      rozpoczęliśmy naszą przygodę jako niewielka naleśnikarnia. Z pasją do
      gotowania i miłością do doskonałego smaku, stopniowo wypracowaliśmy
      unikalne przepisy i techniki, które pozwalają nam tworzyć niezapomniane
      doznania kulinarne. Dzięki zaangażowaniu naszych utalentowanych kucharzy
      oraz bliskiej współpracy z lokalnymi dostawcami, jesteśmy dumni mogąc
      serwować Ci najlepsze naleśniki w Krakowie.
      <br /><br />
      W menu restauracji Mr. Pancake znajdziesz szeroki wybór zarówno
      klasycznych, jak i innowacyjnych naleśników. Nasza kreatywna karta dań
      obejmuje zarówno smaki słodkie, jak i wytrawne, aby zaspokoić gusta
      każdego klienta. Każdy z naszych naleśników jest starannie przygotowywany
      z najwyższą dbałością o składniki i detal, by zapewnić Ci niezapomniane
      doświadczenie smakowe.
      <br /><br />
      Nasza pasja do gotowania oraz 40 lat doświadczenia to to, co wyróżnia
      naszą restaurację. Każdy naleśnik, który opuszcza naszą kuchnię, jest
      owocem naszej pasji, zaangażowania i wiedzy. Nasz zespół kucharzy
      doskonale rozumie sztukę przyrządzania idealnego naleśnika - od
      odpowiedniego smażenia po kompozycję smaków i prezentację.
    </p>
  </section>
  <section class="about-summary">
    <h2>Serdecznie Zapraszamy</h2>
    <p>
      Zapraszamy Cię serdecznie do odwiedzenia restauracji Mr. Pancake i
      skosztowania naszych wyjątkowych naleśników oraz doskonałych napojów
      kawowych. Jesteśmy dumni z naszego dziedzictwa i chcemy podzielić się z
      Tobą naszą miłością do pysznej kuchni. Niezależnie czy jesteś fanem
      klasyki czy poszukujesz czegoś nowego i niesamowitego, nasza oferta z
      pewnością Cię zaskoczy i zadowoli.
      <br /><br />
      Dziękujemy za zaufanie, które nam wykazujesz, wybierając restaurację Mr.
      Pancake. To dla nas zaszczyt gościć Cię przy naszym stole i tworzyć dla
      Ciebie kulinarne przeżycia, które zostaną w Twojej pamięci na długo.
    </p>
  </section>
</main>
<footer></footer>
