<div class="products-container">
  <h2>Zamów teraz!</h2>

  <ul class="products-wrapper">
    <li class="product-item" *ngFor="let product of products">
      <div class="product-container">
        <div class="col-1">
          <div class="product-img">
            <img src="{{ product.src }}" alt="" />
          </div>
          <div class="product-price">
            <p>Cena</p>
            <p>{{ product.price }} zł</p>
          </div>
        </div>
        <div class="col-2">
          <h3>{{ product.name }}</h3>
          <p>
            Nasz niebiański naleśnik truskawkowy to prawdziwa uczta dla
            podniebienia. Delikatny naleśnik, cienko usmażony na złocistą
            konsystencję, jest nadziewany soczystymi kawałkami świeżych
            truskawek.
          </p>
        </div>
      </div>
      <div class="add-to-cart" *ngIf="!product.addedToCart">
        <div class="cart-add-icon">
          <img src="../../../assets/images/icons/cart-add-icon.svg" alt="" />
        </div>
        <p (click)="addToCart(product)">Dodaj do koszyka</p>
      </div>
      <div class="product-info" *ngIf="product.addedToCart">
        Produkt został pomyślnie dodany do koszyka. Dziękujemy :)
      </div>
    </li>
  </ul>
</div>
