.hero-image {
  img {
    min-height: 255px;
    width: 100%;
    object-fit: cover;
  }
}

.hero-title {
  font-family: IngridDarling;
  font-size: 60px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  color: #d1ab7d;
  margin: 0;
}

hr:nth-of-type(1) {
  margin: 15px 0 0;
}
hr:nth-of-type(2) {
  margin: 0;
}
hr:nth-of-type(3) {
  margin: 0;
}

.our-offer {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .our-offer-title {
    display: flex;
    justify-content: center;
    font-family: PirataOne;
    font-size: 24px;
    margin: 15px 0;
    color: #d1ab7d;
  }
  .our-offer-item {
    img {
      width: 100%;
      object-fit: contain;
    }
    .text-container {
      margin: 0 24px;
      max-width: 375px;
      h2 {
        font-family: PirataOne;
        font-weight: normal;
        font-size: 24px;
        margin: 15px 0 5px;
      }
      p {
        font-family: OpenSansItalic;
        font-weight: normal;
        font-size: 16px;
        color: #d1ab7d;
      }
    }
  }
}

@media (min-width: 375px) {
  .our-offer {
    display: flex;
    justify-content: center;
    margin: auto;

    .our-offer-title {
      font-size: 28px;
      margin: 15px 0;
    }

    .our-offer-item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: auto;

      img {
        width: 375px;
        object-fit: contain;
        margin: auto;
      }
    }
  }
}

@media (min-width: 768px) {
  .our-offer {
    gap: 35px;
    .our-offer-title {
      font-size: 32px;
      margin: 35px 0;
    }
    .our-offer-item {
      flex-direction: row;
      .text-container {
        h2 {
          font-size: 32px;
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .our-offer {
    gap: 0;
    .our-offer-item {
      width: 100%;
      margin: 0;
      justify-content: center;

      img {
        width: 40%;
        max-width: 455px;
        margin: 0;
      }
      .text-container {
        margin: 0 40px;
        h2 {
          font-size: 36px;
        }
        p {
          font-size: 20px;
        }
      }
    }
    .our-offer-item:nth-of-type(2),
    .our-offer-item:nth-of-type(4) {
      flex-direction: row-reverse;
    }
  }
}
