.hero-image {
  img {
    min-height: 255px;
    width: 100%;
    object-fit: cover;
  }
}

.hero-title {
  font-family: IngridDarling;
  font-size: 60px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  color: #d1ab7d;
  margin: 0;
}

.hr-title:nth-of-type(1) {
  margin: 15px 0 0 0;
}

.hr-title:nth-of-type(2) {
  margin: 0;
}

.our-offer {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .our-offer-title {
    display: flex;
    justify-content: center;
    font-family: PirataOne;
    font-size: 24px;
    margin: 15px 0;
    color: #d1ab7d;
  }
  .our-offer-item {
    img {
      width: 100%;
      object-fit: contain;
    }
    .text-container {
      margin: 0 24px;
      max-width: 375px;
      h2 {
        font-family: PirataOne;
        font-weight: normal;
        font-size: 24px;
        margin: 15px 0 5px;
      }
      p {
        font-family: OpenSansItalic;
        font-weight: normal;
        font-size: 16px;
        color: #d1ab7d;
      }
    }
  }
}

span:nth-of-type(2) {
  color: white;
  font-size: 24px;
  font-family: PirataOne;
  margin: 0 0 0 24px;
  display: flex;
  justify-content: center;
}

.book-a-table {
  background-image: url(../../../assets/images/background/order.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;

  h2 {
    color: #d1ab7d;
    font-family: PirataOne;
    font-size: 36px;
    margin: 40px auto 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 290px;
    margin: auto;

    .input-item {
      display: flex;
      flex-direction: column;
    }

    .input-item-wrapper {
      display: flex;
      justify-content: space-between;

      .input-item {
        max-width: 84px;
      }
    }

    .input-item-message {
      display: flex;
      flex-direction: column;
      input {
        min-height: 92px;
      }
    }

    .input-item-checkbox {
      display: flex;
      margin: 10px 0 0 0;
      input {
        margin: 0;
        min-width: 20px;
        min-height: 20px;
        border: none;
        outline: none;
      }
    }

    button {
      margin: 15px auto 25px;
    }
  }
}

@media (min-width: 375px) {
  .our-offer {
    display: flex;
    justify-content: center;
    margin: auto;

    .our-offer-title {
      font-size: 28px;
      margin: 15px 0;
    }

    .our-offer-item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: auto;

      img {
        width: 375px;
        object-fit: contain;
        margin: auto;
      }
    }
  }

  span:nth-of-type(2) {
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  .our-offer {
    gap: 35px;
    .our-offer-title {
      font-size: 32px;
      margin: 35px 0 0 0;
    }
    .our-offer-item {
      flex-direction: row;
      .text-container {
        h2 {
          font-size: 32px;
        }
        p {
          font-size: 20px;
        }
      }
    }
  }

  span:nth-of-type(2) {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  .our-offer {
    gap: 0;
    .our-offer-item {
      width: 100%;
      margin: 0;
      justify-content: center;
      align-items: flex-start;
      img {
        width: 40%;
        max-width: 455px;
        margin: 25px 0 0 0;
      }
      .text-container {
        margin: 0 40px;
        h2 {
          font-size: 36px;
        }
        p {
          font-size: 20px;
        }
      }
    }
    .our-offer-item:nth-of-type(2),
    .our-offer-item:nth-of-type(4) {
      flex-direction: row-reverse;
    }
  }
}
