.hero-image {
  img {
    min-height: 255px;
    width: 100%;
    object-fit: cover;
  }
}

.hero-title {
  font-family: IngridDarling;
  font-size: 60px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  color: #d1ab7d;
  margin: 0;
}

.hr-title:nth-of-type(1) {
  margin: 15px 0 0 0;
}

.hr-title:nth-of-type(2) {
  margin: 0;
}

.our-offer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .our-offer-item {
    img {
      width: 100%;
      object-fit: contain;
    }
    .text-container {
      margin: 0 24px;
      max-width: 375px;
      h2 {
        font-family: PirataOne;
        font-weight: normal;
        font-size: 24px;
        margin: 15px 0 5px;
      }
      p {
        font-family: OpenSansItalic;
        font-weight: normal;
        font-size: 16px;
        color: #d1ab7d;
      }
    }
  }
}

.book-a-table {
  background-image: url(../../../assets/images/background/contact.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 290px;
    margin: auto;

    .container {
      margin: 0;
      display: flex;
      flex-direction: column;
    }

    .input-item {
      display: flex;
      flex-direction: column;
    }

    .input-item-wrapper {
      display: flex;
      justify-content: space-between;

      .input-item {
        max-width: 84px;
      }
    }

    .input-item-message {
      display: flex;
      flex-direction: column;
      input {
        min-height: 92px;
      }
    }

    .input-item-checkbox {
      display: flex;
      margin: 15px 0 0 0;
      position: relative;

      input {
        appearance: none;
        position: absolute;
        width: 20px;
        height: 20px;
        margin: 2px 0 0 0;
        border: 3px solid #272727;
        border-radius: 5px;
        background-color: #272727;
        opacity: 0.8;
      }

      input:checked {
        background: #d1ab7d;
        opacity: 1;
      }

      label {
        margin: 0 0 0 35px;
      }
    }

    button {
      margin: 15px auto 25px;
    }
  }
}

.reservations {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 24px;
  margin: auto;
  max-width: 530px;

  span {
    font-size: 20px;
    font-family: PirataOne;
    color: #d1ab7d;
  }

  .container {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;

    .wrapper {
      margin: 0 0 0 15px;
      display: flex;
      gap: 30px;
      color: white;
      font-size: 24px;
      font-family: PirataOne;
      padding: 0 30px 0 0;
    }
  }
  p {
    font-size: 20px;
    font-family: PirataOne;
    color: #d1ab7d;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 25px 0;

    div {
      display: flex;
      align-items: center;

      div {
        margin: 0 0 0 15px;
        font-size: 24px;
        color: white;
        font-family: PirataOne;
      }
    }
  }
}

@media (min-width: 375px) {
  .our-offer {
    display: flex;
    justify-content: center;
    margin: auto;

    .our-offer-title {
      font-size: 28px;
      margin: 15px 0;
    }

    .our-offer-item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: auto;

      img {
        width: 375px;
        object-fit: contain;
        margin: auto;
      }
    }
  }

  span:nth-of-type(2) {
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  .our-offer {
    gap: 35px;
    .our-offer-title {
      font-size: 32px;
      margin: 35px 0 0 0;
    }
    .our-offer-item {
      flex-direction: row;
    }
  }

  span:nth-of-type(2) {
    font-size: 32px;
  }

  .book-a-table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    form {
      max-width: 568px;
      display: flex;
      flex-wrap: wrap;

      .container {
        flex-direction: row;
        justify-content: space-between;
        .input-item {
          min-width: 265px;
        }
      }

      .input-item-wrapper {
        display: flex;
        gap: 40px;
        .input-item:nth-of-type(1) {
          max-width: none;
          flex: 2;
        }
        .input-item:nth-of-type(2) {
          max-width: none;
          flex: 1;
        }
        .input-item:nth-of-type(3) {
          max-width: none;
          flex: 1;
        }
      }
    }
  }

  .book-a-table {
    form {
      .input-item {
        margin: 15px 0 0 0;
      }

      button {
        margin: 40px auto 25px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .our-offer {
    gap: 0;
    .our-offer-item {
      width: 100%;
      margin: 0;
      justify-content: center;
      align-items: flex-start;
      img {
        width: 40%;
        max-width: 455px;
        margin: 25px 0 0 0;
      }
      .text-container {
        margin: 0 40px;
      }
    }
    .our-offer-item:nth-of-type(2),
    .our-offer-item:nth-of-type(4) {
      flex-direction: row-reverse;
    }
  }
}

@media (min-width: 1440px) {
  .reservation-wrapper {
    display: flex;
    background-image: url(../../../assets/images/background/contact.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .book-a-table {
      margin: 0 auto 85px;
      background-image: none;
      flex: 1;
      position: relative;

      button {
        position: absolute;
        right: 0;
        bottom: -50px;
        margin: auto;
      }
    }

    .reservations {
      margin: 0 auto;
      justify-content: start;
      flex: 1;
      h2 {
        margin: 40px 0 0 0;
      }
      .container {
        justify-content: start;
        margin: 25px 0 0 0;
      }
      span {
        margin: 40px 0 0 0;
      }
    }
  }
}
